<?xml version="1.0" encoding="utf-8"?>
<robot
  name="urdf1">
  <link name="base_link">
    <inertial>
      <origin xyz="0.01619 0.005 0.03372" rpy="0 0 0" />
      <mass value="3.0" />
      <inertia 
        ixx="0.0091" 
        ixy="0.0" 
        ixz="-0.00036" 
        iyy="0.0103" 
        iyz="0.0" 
        izz="0.0169" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://urdf1/meshes/base_link.STL" /></geometry>
      <material name=""><color rgba="0.792 0.819 0.933 1" /></material>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry><mesh filename="package://urdf1/meshes/base_link.STL" /></geometry>
    </collision>
  </link>
  <link
    name="truocphai">
    <inertial>
      <origin
        xyz="3.46944695195361E-18 0 -0.00815496098104794"
        rpy="0 0 0" />
      <mass
        value="0.0281800861027004" />
      <inertia
        ixx="5.80725633877744E-06"
        ixy="-8.01899905081876E-22"
        ixz="1.83253401794145E-22"
        iyy="5.80725633877744E-06"
        iyz="5.8559013260014E-24"
        izz="9.78946974396136E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/truocphai.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/truocphai.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tpjoint"
    type="continuous">
    <origin
      xyz="0.070436 -0.1 0.0145"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="truocphai" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="sauphai">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 0 -0.00815496098104794"
        rpy="0 0 0" />
      <mass
        value="0.0281800861027004" />
      <inertia
        ixx="5.80725633877744E-06"
        ixy="3.99663945182359E-23"
        ixz="-4.4939713450958E-23"
        iyy="5.80725633877744E-06"
        iyz="-1.19733310132546E-22"
        izz="9.78946974396135E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/sauphai.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/sauphai.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spjoint"
    type="continuous">
    <origin
      xyz="-0.069564 -0.1 0.0145"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="sauphai" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="truoctrai">
    <inertial>
      <origin
        xyz="-6.93889390390723E-18 -1.73472347597681E-18 -0.00815496098104793"
        rpy="0 0 0" />
      <mass
        value="0.0281800861027005" />
      <inertia
        ixx="5.80725633877744E-06"
        ixy="-1.45308060938482E-21"
        ixz="5.46686416008825E-22"
        iyy="5.80725633877744E-06"
        iyz="8.95492981591004E-23"
        izz="9.78946974396135E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/truoctrai.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/truoctrai.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ttjoint"
    type="continuous">
    <origin
      xyz="0.070436 0.11 0.0145"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="truoctrai" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="sautrai">
    <inertial>
      <origin
        xyz="-2.77555756156289E-17 -1.73472347597681E-18 -0.00815496098104798"
        rpy="0 0 0" />
      <mass
        value="0.0281800861027004" />
      <inertia
        ixx="5.80725633877744E-06"
        ixy="8.60371234631719E-22"
        ixz="1.12911634862594E-21"
        iyy="5.80725633877744E-06"
        iyz="4.57074606109192E-22"
        izz="9.78946974396135E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/sautrai.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/sautrai.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="stjoint"
    type="continuous">
    <origin
      xyz="-0.069564 0.11 0.0145"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="sautrai" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="camera">
    <inertial>
      <origin
        xyz="-0.0146192621506072 0 -1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.00825132741228719" />
      <inertia
        ixx="5.35343952631631E-07"
        ixy="-8.47361871048698E-24"
        ixz="-4.05572684782791E-24"
        iyy="5.72936026697357E-07"
        iyz="3.1984317018717E-23"
        izz="5.72936026697357E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/camera.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/camera.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camerajoint"
    type="fixed">
    <origin
      xyz="0.10544 0.005 0.01"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="imu">
    <inertial>
      <origin
        xyz="-1.38777878078145E-17 0 -0.0025"
        rpy="0 0 0" />
      <mass
        value="0.000829314165294229" />
      <inertia
        ixx="1.67958311946967E-08"
        ixy="-2.04606727713631E-25"
        ixz="2.67841748424862E-25"
        iyy="1.10379505061914E-08"
        iyz="-4.82419080931194E-26"
        izz="2.43783060121621E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/imu.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/imu.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imujoint"
    type="fixed">
    <origin
      xyz="-0.0047183 0.005 0.007"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.0473579652989185 1.38777878078145E-17 0.0349667154238606"
        rpy="0 0 0" />
      <mass
        value="0.121492035526277" />
      <inertia
        ixx="8.61921050446813E-05"
        ixy="1.43017007546139E-20"
        ixz="-9.12322176924799E-05"
        iyy="0.000209361596882663"
        iyz="1.33656442570733E-20"
        izz="0.000142393297166924" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="jointlink1"
    type="revolute">
    <origin
      xyz="0.075436 0.005 0.1045"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-2.77555756156289E-17 2.77555756156289E-17 0.065"
        rpy="0 0 0" />
      <mass
        value="0.052" />
      <inertia
        ixx="7.49666666666667E-05"
        ixy="-4.2621333950059E-22"
        ixz="3.27166475876974E-20"
        iyy="7.49666666666667E-05"
        iyz="-1.53242148301829E-21"
        izz="3.46666666666668E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="jointlink2"
    type="prismatic">
    <origin
      xyz="0.090845 0 0.085721"
      rpy="-3.1416 -0.636 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.2"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  
<gazebo reference="base_link"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="link1"><material>Gazebo/Orange</material></gazebo>
  <gazebo reference="link2"><material>Gazebo/Blue</material></gazebo>

  <gazebo reference="imu">
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
        <ros>
          <namespace>/</namespace>
          <remapping>~/out:=imu/data</remapping>
        </ros>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="camera">
    <sensor name="camera_sensor" type="camera">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>600</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <ros>
          <namespace>/</namespace>
          <remapping>image_raw:=camera/image_raw</remapping>
          <remapping>camera_info:=camera/camera_info</remapping>
        </ros>
        <camera_name>camera</camera_name>
        <frame_name>camera</frame_name>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
      <ros>
        <remapping>~/out:=joint_states</remapping>
      </ros>
      <update_rate>50</update_rate>
      <joint_name>tpjoint</joint_name>
      <joint_name>spjoint</joint_name>
      <joint_name>ttjoint</joint_name>
      <joint_name>stjoint</joint_name>
      <joint_name>jointlink1</joint_name>
      <joint_name>jointlink2</joint_name>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <parameters>$(find urdf1)/config/my_controllers.yaml</parameters>
    </plugin>
  </gazebo>
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="jointlink1">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="jointlink2">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="ttjoint"><command_interface name="velocity"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="tpjoint"><command_interface name="velocity"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="stjoint"><command_interface name="velocity"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="spjoint"><command_interface name="velocity"/><state_interface name="position"/><state_interface name="velocity"/></joint>
  </ros2_control>

 <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <parameters>$(find urdf1)/config/my_controllers.yaml</parameters>
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
    </plugin>
</gazebo>
<link name="base_footprint"/>

<joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>
<gazebo reference="ttjoint"><mu1>1.0</mu1><mu2>0.0</mu2></gazebo>
<gazebo reference="tpjoint"><mu1>1.0</mu1><mu2>0.0</mu2></gazebo>
<gazebo reference="stjoint"><mu1>1.0</mu1><mu2>0.0</mu2></gazebo>
<gazebo reference="spjoint"><mu1>1.0</mu1><mu2>0.0</mu2></gazebo>
</robot>
